[class*="col-"] {
    background-color: rgb(0, 110, 255);
    border: 1px white solid;
    height: 50px;
}

[class*="col-nest"] {
    background-color: rgb(47, 255, 64);
    height: 50%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container span {
    color: white;
    align-self: center;
}